name: Build

on:
  schedule:
    # run weekly on Sundays at 1:17AM
    - cron: "17 1 * * 7"
  workflow_dispatch:

jobs:
  build-latest:
    strategy:
      matrix:
        version:
          - "1.13"
          - "1.12"
          - "1.11"

    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Build image
      run: docker buildx build --build-arg "BEANSTALKD_VERSION=${{ matrix.version }}" -t "darrenedale/beanstalkd:${{ version }}" .

    - name: Push tag
      run: |
        docker login -u "${{ secrets.DOCKERUSERNAME }}" -p "${{ secrets.DOCKERTOKEN }}"
        docker push "darrenedale/beanstalkd:${{ matrix.version }}"

    - name: Tag and push latest
      if: ${{ '1.13' == matrix.version }}
      run: |
        docker image tag "darrenedale/beanstalkd:${{ matrix.version }}" "darrenedale/beanstalkd:latest"
        docker push "darrenedale/beanstalkd:latest"
