name: Build Nightly

on:
  schedule:
    # run daily at 3:21AM
    - cron: "21 3 * * *"
  workflow_dispatch:

jobs:
  build-nightly:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Build image
      run: docker buildx build -t "darrenedale/beanstalkd:latest" .

    - name: Push tag
      run: |
        docker login -u "${{ secrets.DOCKERUSERNAME }}" -p "${{ secrets.DOCKERTOKEN }}"
        docker push "darrenedale/beanstalkd:nightly"
