name: Build

on:
  schedule:
    # run weekly on Sundays at 1:17AM
    - cron: "17 1 * * 0"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: true

    strategy:
      matrix:
        beanstalk_version:
          - "1.13"
          - "1.12"
          - "1.11"
          - "1.10"
          - "1.9"
          - "1.8"

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Build image
      run: docker buildx build --build-arg "BEANSTALKD_VERSION=${{ matrix.beanstalk_version }}" -t "darrenedale/beanstalkd:${{ matrix.beanstalk_version }}" .

    - name: Push tag
      run: |
        docker login -u "${{ secrets.DOCKERUSERNAME }}" -p "${{ secrets.DOCKERTOKEN }}"
        docker push "darrenedale/beanstalkd:${{ matrix.beanstalk_version }}"

    - name: Tag and push latest
      if: ${{ '1.13' == matrix.beanstalk_version }}
      run: |
        docker image tag "darrenedale/beanstalkd:${{ matrix.beanstalk_version }}" "darrenedale/beanstalkd:latest"
        docker push "darrenedale/beanstalkd:latest"
